# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.log

# IDE
.vscode/
.idea/

# Docker
*.pid
*.pid.lock

# Environment
.env
*.env

# PostgreSQL data - НЕ ЗАЛИВАЙ ЭТО В GITHUB!
postgres_data/
pgdata/
*.sql
*.db

# OS
.DS_Store
Thumbs.db